<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Weather app</title>
</head>
<body>

    <h1>Weather app</h1>
    <p>From this weather app get to know about the weather of anywhere</p>


    <div class="container">
        <div class="row">
        <form method="POST" action="">
            <div>
                {%csrf_token%}
                <input type="text" name="search" placeholder="enter the place">
                <button class="btn" type="submit">
                    search

                </button>
            </div>
        </form>
        </div>



        <div>
            <h2>{{city}}</h2>
            <h6>Country-Code:{{data.country_code}}</h6>
            <h6>Temperatur:{{data.temp}}</h6>
            <h6>Pressure:{{data.pressure}}</h6>
            <h6>Humidity:{{data.humidity}}</h6>
        </div>
    </div>

  
    
</body>
</html>