<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2>let's know about me</h2>
    <p>im Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia vero quod alias eveniet similique repellendus praesentium? Itaque facere quisquam aperiam fugiat? Est amet doloremque quibusdam praesentium reiciendis suscipit distinctio explicabo!</p>
    <button onclick="back()">Click back </button>

    <script>
        let back=()=>{
            window.location.href='/';
        }
    </script>
</body>
</html>