<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>lets contact to me</h2>
    <p>you can contact with me 
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo cumque ducimus ipsum et possimus, hic totam numquam placeat, error laudantium alias ut reiciendis consectetur pariatur eum commodi incidunt ea natus?
    </p>

    <button onclick="back()">Click for back</button>


    <script>
        let back=()=>{
            window.location.href='/';
        }
    </script>
</body>
</html>